In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv('../data/raw/raw.csv')

In [23]:
df.shape

(1044848, 8)

In [24]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044848 entries, 0 to 1044847
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1044848 non-null  object
 1   StockCode    1044848 non-null  object
 2   Description  1040573 non-null  object
 3   Quantity     1044848 non-null  int64
 4   InvoiceDate  1044848 non-null  object
 5   Price        1044848 non-null  float64
 6   Customer ID  809561 non-null   float64
 7   Country      1044848 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 63.8+ MB

In [26]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [27]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      4275
Quantity            0
InvoiceDate         0
Price               0
Customer ID    235287
Country             0
dtype: int64

In [28]:
df[df['Description'].isnull() & df['Customer ID'].isnull()]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.0,NaN,United Kingdom
3114,489655,20683,NaN,-44,2009-12-01 17:26:00,0.0,NaN,United Kingdom
3161,489659,21350,NaN,230,2009-12-01 17:39:00,0.0,NaN,United Kingdom
3731,489781,84292,NaN,17,2009-12-02 11:45:00,0.0,NaN,United Kingdom
4296,489806,18010,NaN,-770,2009-12-02 12:42:00,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
1038260,581199,84581,NaN,-2,2011-12-07 18:26:00,0.0,NaN,United Kingdom
1038264,581203,23406,NaN,15,2011-12-07 18:31:00,0.0,NaN,United Kingdom
1038270,581209,21620,NaN,6,2011-12-07 18:35:00,0.0,NaN,United Kingdom
1039919,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,NaN,United Kingdom
1041492,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,NaN,United Kingdom

In [29]:
#dropping rows with cancelled invoices
df = df[~df['Invoice'].str.contains('C', na=False)]
df.dropna(inplace=True)

In [30]:
df[df['Price']  == 0.0].sample(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
550006,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom
89180,497843,TEST001,This is a test product.,5,2010-02-12 15:47:00,0.0,14827.0,United Kingdom
788595,561916,M,Manual,1,2011-08-01 11:44:00,0.0,15581.0,United Kingdom
817686,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands
327801,521375,22202,MILK PAN PINK RETROSPOT,3,2010-09-05 11:58:00,0.0,12647.0,Germany

In [31]:
df[df['Price'] == 0.0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
4674,489825,22076,6 RIBBONS EMPIRE,12,2009-12-02 13:34:00,0.0,16126.0,United Kingdom
6781,489998,48185,DOOR MAT FAIRY CAKE,2,2009-12-03 11:19:00,0.0,15658.0,United Kingdom
16107,490727,M,Manual,1,2009-12-07 16:38:00,0.0,17231.0,United Kingdom
18738,490961,22065,CHRISTMAS PUDDING TRINKET POT,1,2009-12-08 15:25:00,0.0,14108.0,United Kingdom
18739,490961,22142,CHRISTMAS CRAFT WHITE FAIRY,12,2009-12-08 15:25:00,0.0,14108.0,United Kingdom
...,...,...,...,...,...,...,...,...
982017,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602.0,United Kingdom
982491,577168,M,Manual,1,2011-11-18 10:42:00,0.0,12603.0,Germany
983587,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444.0,Norway
988923,577696,M,Manual,1,2011-11-21 11:57:00,0.0,16406.0,United Kingdom
1005060,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256.0,United Kingdom

In [32]:
df.drop_duplicates(inplace=True)

In [33]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [34]:
df.sample(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
863829,568316,84978,HANGING HEART JAR T-LIGHT HOLDER,6,2011-09-26 13:21:00,1.25,16407.0,United Kingdom
418605,529342,37447,CERAMIC CAKE DESIGN SPOTTED PLATE,12,2010-10-27 16:41:00,1.49,18060.0,United Kingdom
587265,543380,84050,PINK HEART SHAPE EGG FRYING PAN,12,2011-02-07 15:47:00,1.65,14293.0,United Kingdom
17632,490808,35594,WOODEN CHRISTMAS TREE 3 HANGING,1,2009-12-08 12:25:00,0.42,17371.0,United Kingdom
646368,548701,22898,CHILDRENS APRON APPLES DESIGN,7,2011-04-03 11:36:00,1.95,17629.0,United Kingdom
710111,554978,21080,SET/20 RED RETROSPOT PAPER NAPKINS,10,2011-05-29 11:05:00,0.85,16889.0,United Kingdom
11691,490323,47591A,CAROUSEL DES CHILD'S APRON,1,2009-12-04 15:27:00,1.65,14087.0,United Kingdom
72190,495936,22054,MINI CAKE STAND HANGING HEARTS,8,2010-01-27 15:39:00,1.65,17865.0,United Kingdom
701654,554065,22755,SMALL PURPLE BABUSHKA NOTEBOOK,12,2011-05-22 10:39:00,0.85,18287.0,United Kingdom
9380,490136,21380,WOODEN HAPPY BIRTHDAY GARLAND,1,2009-12-03 19:13:00,2.95,17432.0,United Kingdom

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 779495 entries, 0 to 1044847
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      779495 non-null  object
 1   StockCode    779495 non-null  object
 2   Description  779495 non-null  object
 3   Quantity     779495 non-null  int64
 4   InvoiceDate  779495 non-null  datetime64[ns]
 5   Price        779495 non-null  float64
 6   Customer ID  779495 non-null  float64
 7   Country      779495 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 53.5+ MB

In [36]:
noise_codes = ["POST", "D", "M", "BANK CHARGES", "PADS", "DOT", "CRUK", "C2"]
df = df[~df["StockCode"].isin(noise_codes)]

In [37]:
df.shape

(776686, 8)

In [38]:
df.to_csv('../data/processed/cleaned.csv', index=False)